{% extends 'layout.html'%}
{% block content %}
<h1>About</h1>
<p>This is an online shopping application done using django, html, css, javascript.
We have a login, signup on the navigation bar, then we have the home page where all the items are displayed with its name, discription, price and image.
as the user logins he can checkout else he cannot. In the checkout page we have an option to enter the card information of the user(done using strip API).
then we have the contach page where the clients can send a message to my personal email id, to ask questions or provide suggesions.</p>
{% endblock %}
